.container {
    display: flex;
    justify-content: space-between;
}
.container>input{
    width: 50%;
    border-radius: 15px;
    background-color: #E3E1D9;
    border: none;
    /* height: 30px; */
}
.menu>a{
    color: black;
    text-decoration: none;
    margin-right: 20px;
    font-size: 20px;
   
}

.adv{
    background-color: #FEEAE9;
    display: flex;
    justify-content: space-between;
    /* width: 1212px; */
    height: 455px;
    margin: 50px 10px;
    padding: 0 20px;
    
   
    }
.img-adv>img{
   width: 400px;
   height: 378px;

}
.text-adv{
    width: 550px;
    height: 320px;
}

.text-adv>h1{
    font-size: 50px;
}