body{
    font-family: sans-serif;
}


.container {
    display: flex;
    justify-content: space-between;
}
.container>input{
    width: 50%;
    border-radius: 15px;
    background-color: #E3E1D9;
    border: none;
    /* height: 30px; */
}
.menu>a{
    color: black;
    text-decoration: none;
    margin-right: 20px;
    font-size: 20px;
   
}

.adv{
    background-color: #FEEAE9;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    /* width: 1212px; */
    height: 455px;
    margin: 50px 10px;
    padding: 0 20px;
    align-items: center;
   
    }
.img-adv>img{
   width: 400px;
   height: 378px;

}
.text-adv{
    width: 550px;
    height: 320px;
}

.text-adv>h1{
    font-size: 50px;
}
.text-adv>h2{
    font-size: 50px;
    color: #ee0760;
}
button{
    background-color:#ee0760 ;
    width: 130px;
    height: 40px;
    border-radius: 10px;
    border: none;
}
button>a{
    text-decoration: none;
    color: white;
}

/* the categories section  */

.categories{
    display: flex;
  justify-content: center;
    
}
.box{
    display: flex;
    justify-content: space-between;
    align-content:center ;
    width: 20%;
    height: 100px;
    background-color: #ee0760;
    margin: 20px;
    border-radius: 10px;
}
.watch{
    background-color: #ffbb00;
    padding: 5px 20px;
}
.bag{
    padding: 5px 20px;
}
.shoe{
    background-color: blue;
    padding: 5px 20px;
}

section>h1{
    font-size: 40px;
    padding-left: 12%;
}

.shoes-div{
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    padding: 0 50px;
    
}
.box-shoes{
    margin: 20px;
    height:430px ;
    width: 25%;
    border-radius: 15px;
    
}
.shoes button{
    background-color: black ;
    width: 130px;
    height: 40px;
    border-radius: 10px;
    border: none;
}
.shoes button>a{
    color: white;
}
.shoes-1{
    background-color: white;
    text-align: center;
    
    
}
.shoes img{
    height: 200px;
    width: 90%;
}

.shoes-2{
    background-color: white;
    text-align: center;
}

.shoes-3{
    background-color: white;
    text-align: center;
}
 /* shoes section end  */